h1{
    background: #000000 0% 0% no-repeat padding-box;
    font-family: 'Courier New', Courier, monospace;
    height: 73px;
width: 70%;
letter-spacing: 0px;
color: #FFFFFF;
text-align: center;
}
p{
    height: 73px;
    width: 70%;
}
a {

}